* {
    margin: 0;
    font-family: "Arial";
    border: "border-box";
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("kisan_bazar_logo.jpg");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

/** box2**/
.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}

.add-sec {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/*box3*/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.serach-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: centre;
    font-size: 1.2rem;
    background-color: orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;

}

.nav-search:hover {
    border: 2px solid orange;
}

/*box4*/

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.8rem;
    font-weight: 700;
}

/*box6*/
.nav-cart i {
    font-size: 30px;

}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 500;
}

/** pannels**/
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}

.panel-op p {
    display: inline;
    margin-left: 15px;
}

.panek-op {
    width: 80%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.95rem;
    font-weight: 700;
}

/*hero section*/

.hero-section {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #1c3b17;
    background-image: url("bg_hero.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hero-message {
    background-color: rgb(44, 43, 43);
    color: whitesmoke;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 20px;
}

.hero-message a {
    color: #007185;
}

/** shop section**/

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #0a0a0a;
}

.box {

    border: 2px solid black;
    height: 300px;
    width: 23%;
    background-color: rgb(44, 43, 43);
    color: #dddddd;
    border: 1px solid rgb(244, 247, 243);
    padding: 20px 0px 15px;
    margin-top: 10px;

}

.box-img {
    background-size: cover;
    height: 260px;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;

}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content a {
    color: #007185;
}

/** footer**/
footer {
    margin-top: 15px;
    background-color: #0a0a0a;
}

.foot-panel1 {
    background-color: rgb(44, 43, 43);
    background-size: cover;
    color: white;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.foot-panel2 {
    background-image: url("foot1.jpg");
    background-size: cover;
    background-color: rgb(44, 43, 43);
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin: 20px;
}

ul a {
    display: block;
    font-size: 0.8rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3 {
    background-image: url("IMG-20240905-WA0006.jpg");
    background-size: cover;
    background-color: rgb(44, 43, 43);
    color: white;
    border-top: 0.5px solid white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**.logo {
    background-image: url("kisan_bazar_logo.jpg");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;/
}

.pages {
    font-size: 0.85rem;
    text-align: center;